@{
    ViewBag.Title = "About YPTC";
}

<div class="row">
    <div class="col-md-4">
        <h2>
            About Us
        </h2>
        <p style="font-size:18px">
            YPTC  is the premier organization for connecting and engaging young professionals in their 20’s, 30’s, and 40’s in professional, personal and community development activities throughout the Tri-Cities.
        </p>
        <p style="font-size:18px">
            Every month we hold social events at local restaurants and wineries.  It’s a low stress, casual way to meet others who are like you.
        </p>
        <p style="font-size:18px">
            Expanding your social circle is just the beginning. YPTC offers professional development opportunities including leadership training, mentoring with other professionals in your field, and a chance to establish yourself professionally with your peers.
        </p>
        <p style="font-size:18px">
            Come and check out a few YPTC events.  We’d love to meet you!
        </p>
    </div>
    <div class="col-md-6">
        <img style="padding:20px 20px" src="http://imagizer.imageshack.us/v2/640x480q90/924/o0VpVk.jpg" alt="group of people" />
    </div>
</div>

