@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<hr />

<p>
    We do not have a physical office location however we are housed under TRIDEC at the Tri-Cities Business and Visitor Center. 
</p>
<br />
<br />
<p>
    Our Luncheons are at this address every month.
</p>
<address>
    7130 W Grandridge Blvd.<br />
    Kennewick, WA 99336<br />
</address>
<hr />

<address>
    <strong>Facebook</strong>   <a href="http://facebook.com">Our Facebook</a><br />
    <strong>Twitter</strong> <a href="http://twitter.com">Our Twitter</a><br/>
    <strong>Linkdin</strong> <a href="https://www.linkedin.com/home">Our Linkdin</a>
</address>