body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: 14px unbuntu, verdana;
    margin:0 auto;
    width:1200px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius:5px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 200px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
html {
    background:no-repeat center center fixed;
    background-image: url('../Images/Business-Wallpapers-10.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img {
    margin:0 auto;
}
ul.ui-autocomplete {
   background-color: white;
   border: 1px solid #ddd;
}

li.ui-menu-item:hover { 
    background-color: deepskyblue;
}
.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    background-color: white;
}
